
Documentatie/Exemple/User Stories/~$du-Moldovan-User-Stories.docx
Documentatie/Problem Description/~$oblem Description IHR.docx
Documentatie/Exemple/Document La Comun/~$ftware engineering project.docx
Documentatie/Exemple/Document La Comun/~$ftware engineering project.docx
Documentatie/Exemple/Document La Comun/~$ftware engineering project.docx
Documentatie/Exemple/Document La Comun/~$ftware engineering project.docx
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/__internal/IHR-1.0-SNAPSHOT/IHR-1.0-SNAPSHOT.war
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/index.jsp
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/META-INF/MANIFEST.MF
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/scripts/keepalive
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/classes/META-INF/beans.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/classes/META-INF/persistence.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/pages/keepalive
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/tags/navbar.tag
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/tags/pageTemplate.tag
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/web.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/config/domain.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/config/domain.xml.bak
InHumanResources/libs/glassfish7/glassfish/domains/domain1/config/pid
InHumanResources/libs/glassfish7/glassfish/domains/domain1/logs/server.log
Documentatie/Exemple/Document La Comun/~$ftware engineering project.docx
InHumanResources/libs/glassfish7/glassfish/domains/domain1/logs/server.log
InHumanResources/libs/glassfish7/glassfish/domains/domain1/config/pid
InHumanResources/libs/glassfish7/glassfish/domains/domain1/config/domain.xml.bak
InHumanResources/libs/glassfish7/glassfish/domains/domain1/config/domain.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/web.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/tags/pageTemplate.tag
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/tags/navbar.tag
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/pages/keepalive
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/classes/META-INF/persistence.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/WEB-INF/classes/META-INF/beans.xml
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/scripts/keepalive
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/META-INF/MANIFEST.MF
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/IHR-1.0-SNAPSHOT/index.jsp
InHumanResources/libs/glassfish7/glassfish/domains/domain1/applications/__internal/IHR-1.0-SNAPSHOT/IHR-1.0-SNAPSHOT.war
Documentatie/Exemple/Document La Comun/~$ftware engineering project.docx
.idea/InhumanResources.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
InHumanResources/IHR/src/main/java/com/ihr/ihr/servlets/TestServlet.java
InHumanResources/IHR/src/main/java/com/ihr/ihr/servlets/TestServlet.java
